html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css'
        integrity='sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u' crossorigin='anonymous')
        title Form
        style.
            body {
                margin: auto;
                width: 50%;
            }
            .style-form {
                background: #e0e0e0;
                height: 60vh;
                display: flex;
                flex-direction: column;
                justify-content: center
            }
            .pad {
                margin: 10px
            }

    body
        form.style-form(action="/services/form" method="POST" enctype="multipart/form-data")
            .form-group.pad
                input.form-control(type='text' name='name' placeholder='Default input')
                .form-check.form-check-inline
                    input#inlineRadio1.form-check-input(type='radio' name='radio' value='option1')
                    label.form-check-label(for='inlineRadio1') &nbsp;&nbsp;Comps
                .form-check.form-check-inline
                    input#inlineRadio1.form-check-input(type='radio' name='radio' value='option2')
                    label.form-check-label(for='inlineRadio1') &nbsp;&nbsp;EXTC
                | Example file input
                input(type='file' name='upload')
                input(type="submit", value="Submit")
